<!doctype html>
<html lang="en">
  <%- include ("./partials/head") %>
  <body>
    <header>
      <h1>Change Password</h1>
    </header>
    <main>
      <form method="POST" action="/signup">
        <% if (error) { %>
          <p class="error" ><%= error %></p>
        <% } %>
        <div class="input-group">
          <label for="username" class="change-password-label">Username</label>
          <input id="username" name="username" />
        </div>
        <div class="input-group">
          <label for="password" class="change-password-label">Current password</label>
          <input id="password" name="password" type="password" />
        </div>
        <div class="input-group">
          <label for="new-password" class="change-password-label">New password</label>
          <input id="new-password" name="newPassword" type="password" />
        </div>
        <div class="input-group">
          <label for="confirm-new-password" class="change-password-label">Confirm new password</label>
          <input id="confirm-new-password" name="confirmNewPassword" type="password" />
        </div>
        <button type="submit">Change password</button>
        <a href="/">Go back</a>
      </form>
    </main>
  </body>
</html>
