<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Wow Server Portal" />
    <title>WoW Server Portal</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo-wrapper">
        <img src="/wow-tbc.png" width="300px" alt="World of Warcraft: The Burning Crusade" />
      </div>
      <h1>Aknos' Server</h1>
    </header>
    <main class="main-wrapper" >
      <% if (isOnline !== null) { %>
      <p>Server status: <span class="<%= isOnline ? "online-status" : "offline-status" %>"><%= isOnline ? "Online" : "Offline" %></span></p>
      <% } %>
      <a href="/signup">Create account</a>
      <a href="https://drive.google.com/file/d/1dorEZA13-P78uxI4JsaYQfvpJY9U5Y0h/view?usp=sharing" target="_blank" rel="noopener noreferrer">Download client</a>
    </main>
  </body>
</html>
