<!doctype html>
<html lang="en">
  <%- include ("./partials/head") %>
  <body>
    <header>
      <div class="logo-wrapper">
        <img src="/wow-logo.png" width="340px" alt="World of Warcraft" />
      </div>
      <h1>Aknos' Server</h1>
    </header>
    <main class="main-wrapper" >
      <% if (isOnline !== null) { %>
      <p>Server status: <span class="<%= isOnline ? "online-status" : "offline-status" %>"><%= isOnline ? "Online" : "Offline" %></span></p>
      <% } %>
      <a href="/signup">Create account</a>
      <a href="/change-password">Change password</a>
      <a href="/download" target="_blank" rel="noopener noreferrer">Download client</a>
    </main>
  </body>
</html>
