<!doctype html>
<html lang="en">
  <%- include ("./partials/head") %>
  <body>
    <header>
      <h1>Success</h1>
    </header>
    <main>
      <p>Congrats! Your account <%= username %> was created successfully.</p>
      <a href="/">Go back</a>
    </main>
  </body>
</html>
